bitsandbytes==0.45.5
datasets==3.5.0
deepspeed==0.13.2
einops==0.8.1
# flash-attn==2.4.3.post1  # install from local .whl, see README
isort==6.0.1
jsonlines==4.0.0
loralib==0.1.2
optimum==1.24.0
peft==0.10.0
ray[default]==2.44.1
torch==2.2.0
torchmetrics==1.7.1
tqdm==4.67.1
transformers==4.51.3
transformers-stream-generator==0.0.5
wandb==0.19.9
boto3==1.37.33
awscli==1.38.33
numpy==1.25.2